.addTaskContainer {
  padding: 75px;
}

.leftSplit,
.rightSplit {
  width: 350px;
}

.leftSplit {
  margin-right: 10%;
}

.text {
  color: var(--textColor);
  margin-bottom: 5px;
  margin-top: 30px;
}

input,
select,
textarea {
  border-radius: 5px;
  border: 1px solid lightgray;
  outline: none;
  resize: none;
}

:placeholder-shown {
  padding-left: 15px;
}

input,
select {
  height: 40px;
  padding-left: 15px;
}

.priorityBox {
  width: 350px;
  display: flex;
  justify-content: space-between;
  border: none;
}

.statusButton {
  box-shadow: 1px 1px 3px rgb(0 0 0 / 30%);
  height: 40px;
  width: 110px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: none;
  background-color: white;
}

.statusButton p {
  margin: 0;
}

.priorityBox button:hover {
  cursor: pointer;
}

.priorityBox button img {
  height: 20px;
  width: 20px;
}

.urgentBtn {
  background-color: var(--urgentColour) !important;
  color: white;
}

.mediumBtn {
  background-color: var(--mediumColour) !important;
  color: white;
}

.lowBtn {
  background-color: var(--lowColour) !important;
  color: white;
}

.urgentBtn img,
.mediumBtn img,
.lowBtn img {
  filter: brightness(0) invert(1);
}

.buttonContainer {
  width: 350px;
  margin-top: 150px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.clearBtn {
  width: 135px;
}

.addTaskBtn {
  width: 180px;
}

.addTaskBtn img {
  width: 12px;
}
