:root {
    --textColor: #6b717e;
    --btnColor: #293647;
    --urgentColour: #ff3b00;
    --mediumColour: #ffb32a;
    --lowColour: #7be129;
    --hoverBtnColour: #36afe4;
}

.d-none {
    display: none !important;
}

.leftSplit,
.rightSplit {
    width: 350px;
}

.leftSplit {
    margin-left: 150px;
    margin-right: 75px;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
}

.text {
    color: var(--textColor);
    margin-bottom: 5px;
    margin-top: 30px;
}

p {
    margin: 0;
}

input,
select,
textarea {
    border-radius: 5px;
    border: 1px solid lightgray;
    outline: none;
    resize: none;
}

:placeholder-shown {
    padding-left: 15px;
}

input,
select {
    height: 40px;
    padding-left: 15px;
}

.priorityBox {
    width: 350px;
    display: flex;
    justify-content: space-between;
    border: none;
}

.statusButton {
    box-shadow: 1px 1px 3px rgb(0 0 0 / 30%);
    height: 40px;
    width: 110px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: none;
    background-color: white;
}

.priorityBox button:hover {
    cursor: pointer;
}

.priorityBox button img {
    height: 20px;
    width: 20px;
}

.urgentBtn {
    background-color: var(--urgentColour) !important;
    color: white;
}

.mediumBtn {
    background-color: var(--mediumColour) !important;
    color: white;
}

.lowBtn {
    background-color: var(--lowColour) !important;
    color: white;
}

.urgentBtn img,
.mediumBtn img,
.lowBtn img {
    filter: brightness(0) invert(1);
}

.buttonContainer {
    width: 350px;
    margin-top: 150px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

#clear {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid var(--btnColor);
    background-color: white;
    color: var(--textColor);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#clear img {
    filter: contrast(0.5);
    rotate: 45deg;
    width: 15px;
}

#create {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: var(--btnColor);
    color: white;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#create img {
    width: 12px;
}

#clear:hover {
    cursor: pointer;
    border: 1px solid var(--hoverBtnColour);
    color: var(--hoverBtnColour);
    transition: all 225ms ease-in-out;
}

#create:hover {
    cursor: pointer;
    background-color: var(--hoverBtnColour);
    transition: all 225ms ease-in-out;
    filter: drop-shadow(2px 4px 6px rgb(100, 100, 100));
}

#messageToBoard {
    bottom: 42px;
    width: 225px;
    height: 45px;
    background: var(--btnColor);
    position: absolute;
    left: 630px;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#messageToBoard span {
    margin: 0;
}

.slide-in-bottom {
    animation: slide-in-bottom .5s cubic-bezier(.25, .46, .45, .94) both
}

@keyframes slide-in-bottom {
    0% {
        transform: translateY(1000px);
        opacity: 0
    }

    100% {
        transform: translateY(0);
        opacity: 1
    }
}

.slide-in-left {
    animation: slide-in-left .5s cubic-bezier(.25, .46, .45, .94) both
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-1000px);
        opacity: 0
    }

    100% {
        transform: translateX(0);
        opacity: 1
    }
}