.align-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 75px;
}

.align-center h1 {
  margin-left: 75px !important;
}

.searchContainer {
  height: 50px;
  gap: 10px;
}

.cursor-pointer {
  cursor: pointer;
}

.d-none {
  display: none;
}

.d-visible {
  display: unset;
}

#search {
  height: 50px;
  background-image: url(/img/search.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 160px;
  background-size: 15px;
  font-size: 16px;
  padding-left: 15px;
  border-radius: 10px;
  border: 1px solid #a8a8a8;
  margin-right: 10px;
}

.add {
  width: 137px;
  height: 51px;
  background: #2a3647;
  border: 1px solid #2a3647;
  border-radius: 10px;
  color: white;
  font-size: 21px;
}

.add:hover {
  background-color: #36afe4;
  cursor: pointer;
  transition: all 225ms ease-in-out;
  border: none;
  filter: drop-shadow(2px 4px 6px rgb(100, 100, 100));
}

.headerColumn {
  display: flex;
  flex-direction: column;
}

.nameColumn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  margin-bottom: 20px;
}

.nameColumn img {
  width: 15px;
  height: 15px;
}

.dragAndDropContainer {
  height: 490px;
  display: flex;
  justify-content: space-between;
  margin-left: 75px;
  margin-right: 75px;
}

.column {
  width: 200px;
  height: 450px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.possiblePosition {
  height: 150px;
  width: 175px;
  border: 1px dashed black;
  border-radius: 30px;
}

.taskCard {
  height: 150px;
  width: 175px;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
  border-radius: 30px;
  padding: 18px;
  margin-bottom: 10px;
  background-color: white;
}

.category {
  width: 103px;
  height: 27px;
  background: #ff7a00;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.descriptionBoard {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  gap: 5px;
  text-transform: capitalize;
}

.descriptionBoard :first-child {
  font-weight: bold;
}

.descriptionBoard :nth-child(2) {
  color: #6b717e;
}

.highlight {
  background-color: rgba(0, 0, 0, 0.3);
}

.background {
  position: absolute;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100vh;
  top: 0;
  width: 100%;
  left: 0;
  display: flex;
  justify-content: center;
}

.fullCard {
  width: 500px;
  background-color: white;
  box-shadow: 0px 0px 4px rgb(0 0 0 / 10%);
  border-radius: 30px;
  margin-bottom: 50px;
  margin-top: 50px;
  border-radius: 30px;
  padding: 30px;
}

.headerFullCard {
  display: flex;
  justify-content: space-between;
}

.categoryText {
  width: 150px;
  height: 40px;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-size: 25px;
  color: white;
}

.plus {
  width: 20px;
  height: 20px;
}

.plus img {
  filter: contrast(0.5);
  rotate: 45deg;
}

.plus img:hover {
  cursor: pointer;
}

/* .headline {
  height: 50px;
  overflow-x: auto;
  display: flex;
  align-items: center;
  margin-top: 15px;
} */

h2 {
  font-size: 45px;
  margin-top: 15px;
  margin-bottom: 0;
  text-transform: capitalize;
}

.descriptionFullCard {
  margin-top: 25px;
  font-size: 18px;
  text-transform: capitalize;
}

.date {
  margin-top: 20px;
  width: 175px;
  display: flex;
  justify-content: space-between;
}

.prio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 175px;
  margin-top: 20px;
}

.prio span {
  text-transform: capitalize;
  margin-right: 5px;
}

#showUrgency {
  height: 30px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 10px;
  border-radius: 10px;
}

#showUrgency img {
  filter: brightness(0) invert(1);
}

.assignedContainer {
  margin-top: 20px;
}

.boxContent {
  background-color: white;
  box-shadow: 0px 0px 4px rgb(0 0 0 / 10%);
  border-radius: 30px;
  margin-bottom: 50px;
  margin-top: 50px;
  border-radius: 30px;
  padding: 50px;
}

.addTask {
  margin: 0;
}

.flex-align-center h1 {
  margin: 0 !important;
}

.leftSplit {
  margin: 0 !important;
}

.leftSplit,
.rightSplit {
  width: 300px !important;
}

form {
  gap: 80px;
}

.priorityBox {
  width: 300px !important;
}

.statusButton {
  width: 90px !important;
}

.buttonContainer {
  width: 300px !important;
}

.slide-in-right {
  animation: slide-in-right 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-out-right {
  animation: slide-out-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@keyframes slide-out-right {
  0% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(1000px);
    opacity: 0;
  }
}