.boardContainer {
  padding-left: 75px;
  padding-right: 75px;
  padding-top: 75px;
}

.align-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 50px;
}

.searchContainer {
  height: 50px;
  gap: 10px;
  display: flex;
}

#search {
  height: 50px;
  background-image: url(/img/search.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 160px;
  background-size: 15px;
  font-size: 16px;
  padding-left: 15px;
  border-radius: 10px;
  border: 1px solid #a8a8a8;
  margin-right: 10px;
}

.add:hover {
  background-color: #36afe4;
  cursor: pointer;
  transition: all 225ms ease-in-out;
  border: none;
  filter: drop-shadow(2px 4px 6px rgb(100, 100, 100));
}

.nameColumn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  margin-bottom: 20px;
}

.nameColumn img {
  width: 15px;
  height: 15px;
}

.dragAndDropContainer {
  display: flex;
  gap: 3%;
  justify-content: space-between;
}

.column {
  max-height: 450px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.possiblePosition {
  height: 150px;
  width: 175px;
  border: 1px dashed black;
  border-radius: 30px;
}

.taskCard {
  height: 150px;
  width: -webkit-fill-available;
  width: -moz-available;
  padding: 18px;
  margin-bottom: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.taskFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.boardInitial {
  margin-right: -10px;
}

.category {
  width: 103px;
  height: 27px;
  background: #ff7a00;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.descriptionBoard {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  gap: 5px;
  text-transform: capitalize;
}

.descriptionBoard :first-child {
  font-weight: bold;
}

.descriptionBoard :nth-child(2) {
  color: #6b717e;
}

.highlight {
  background-color: rgba(0, 0, 0, 0.3);
}

.fullCard {
  position: relative;
  width: 40%;
  background-color: white;
  box-shadow: 0px 0px 4px rgb(0 0 0 / 10%);
  border-radius: 30px;
  margin-top: 5vh;
  margin-bottom: 5vh;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.startTop {
  align-items: unset !important;
}

.headerFullCard {
  display: flex;
  justify-content: space-between;
}

.bodyFullCard {
  overflow: auto;
  height: 55vh;
  width: 100%;
}

.categoryText {
  width: 150px;
  height: 40px;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-size: 25px;
  color: white;
  text-transform: capitalize;
}

.assingedContainerBoard {
  position: relative;
  width: 85%;
  margin-top: 20px;
}

.editBtn {
  padding: 29px 17px;
}

.plus {
  width: 20px;
  height: 20px;
}

.plus-end {
  justify-content: flex-end;
  margin-bottom: -15px;
}

.plus img {
  filter: contrast(0.5);
  rotate: 45deg;
}

.plus img:hover {
  cursor: pointer;
}

.descriptionFullCard {
  margin-top: 25px;
  font-size: 21px;
  text-transform: capitalize;
}

.taskHeader {
  font-size: 61px;
}

.date,
.prio {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 21px;
  gap: 20px;
}

.prio span {
  text-transform: capitalize;
  margin-right: 5px;
}

#showUrgency {
  height: 30px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 10px;
  border-radius: 10px;
}

#showUrgency img {
  filter: brightness(0) invert(1);
}

.assignedContainer {
  margin-top: 20px;
  font-size: 21px;
}

.changedCard {
  width: 100%;
  justify-content: center;
  flex-direction: column;
}

.assignedUser {
  margin-top: 20px;
  margin-right: 65px;
}

.fullCardAssignedTo {
  display: flex;
  width: 250px;
  align-items: center;
  gap: 30px;
  padding-bottom: 20px;
}

.footerFullCard {
  display: flex;
  justify-content: flex-end;
}

.boxContent {
  background-color: white;
  box-shadow: 0px 0px 4px rgb(0 0 0 / 25%);
  border-radius: 30px;
  padding: 50px;
}

.pageHeader {
  margin: 0 !important;
}

.leftSplit {
  margin: 0 !important;
}

.leftSplit,
.rightSplit {
  width: 300px !important;
}

#formAddTask {
  gap: 80px;
}

/* .priorityBox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 10px;
} */

.buttonContainer {
  width: 300px !important;
}

.joinLogoBoard {
  width: 35pxx;
  height: 40px;
  padding-left: 25px;
  filter: invert(1);
}

.headerBoard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  box-shadow: 1px 1px 3px rgb(0 0 0 / 30%);
  width: 100%;
  height: 75px;
}

.actualUserBoard {
  padding-right: 25px;
}

.navbarBoard {
  background-color: #293647;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconsNavBoardMobile {
  width: 35px;
  height: 35px;
}

.containerWithSectionsBoard ul {
  display: flex;
  margin-bottom: 0;
  padding-left: 0;
}

.containerWithSectionsBoard li {
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
}

.containerWithSectionsBoard ul li {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.inputSearchMobile {
  height: 40px;
  width: 230px;
  background-image: url('/img/search.svg');
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 200px;
  background-size: 15px;
  font-size: 16px;
  padding-left: 15px;
  border-radius: 10px;
  border: 1px solid #a8a8a8;
  margin-left: 8px;
}

.progressbarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.progressbarContainer label {
  font-size: 12px;
}

progress[value] {
  height: 8px;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* Get rid of default border in Firefox. */
  border: none;
  max-width: 65%;
  background-color: var(--backgroundProgressbar);
}

progress[value]::-webkit-progress-bar {
  background-color: var(--backgroundProgressbar);
  border-radius: 2px;
}

progress[value]::-moz-progress-bar {
  background-color: var(--blueColor);
  border-radius: 2px;
}

progress[value]::-webkit-progress-value {
  background-color: var(--blueColor);
  border-radius: 2px;
}