.mainContainerContact {
  height: 100vh;
}

.contactContainer {
  display: flex;
  height: calc(100vh - 75px);
}

.contactList {
  overflow: auto;
  width: 315px;
  padding: 0 35px;
  box-shadow: 4px 0px 6px var(--boxShadowColor);
}

.contactArea {
  width: 50%;
  padding: 75px;
}

.contactHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

.contactHeadline {
  border-right: 2px solid var(--hyphenColor);
}

.contactHeadline h1 {
  margin: 0;
  margin-right: 30px;
  font-size: 61px;
}

.subheadline {
  font-size: 27px;
}

.contactSectionHeader {
  margin-bottom: 15px;
}

.contactSectionHeader h2 {
  padding: 15px 25px;
  font-weight: 100;
}

.contactSectionHeader hr {
  border: 1px solid var(--hrColor);
}

.contactInfo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 15px;
  gap: 35px;
}

.contactInfo:hover {
  background-color: var(--bgColorContact);
  border-radius: 10px;
  color: white;
}

.initials {
  height: 42px;
  width: 42px;
  margin-right: 20px;
  font-size: 12px;
}

.contactInfo .name {
  font-size: 21px;
  margin-bottom: 5px;
}

.contactInfo .email {
  color: var(--emailColor);
}

.headerFullContact {
  font-size: 47px;
  display: flex;
  gap: 35px;
  margin-top: 75px;
}

.initialsFullContact {
  width: 120px;
  height: 120px;
}

.initialCircle {
  background-color: orange;
  border-radius: 100%;
  border: 1px solid white;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addTaskLink {
  color: var(--blueColor);
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.addTaskLink span {
  font-size: 30px;
}

.nameContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contactFullInfoHeader {
  display: flex;
  gap: 50px;
  margin-top: 30px;
}

.editContact {
  display: flex;
  align-items: center;
  gap: 5px;
}

.editContact img {
  filter: invert(1);
}

.emailFullContact {
  margin-bottom: 25px;
}

.contactFullInfo h3 {
  font-size: 16px;
}