.mainContainerContact {
  height: 100vh;
  width: 100%;
}

.contactContainer {
  display: flex;
  height: calc(100vh - 75px);
}

.contactList {
  overflow: auto;
  width: 315px;
  padding: 10px 35px;
  box-shadow: 4px 0px 6px var(--boxShadowColor);
}

.contactSectionHeader {
  margin-bottom: 15px;
}

.contactSectionHeader h2 {
  padding: 15px 25px;
  font-weight: 100;
}

.contactSectionHeader hr {
  border: 1px solid var(--colorLightGrey);
}

.contactInfo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 15px;
  gap: 20px;
}

.contactInfo:hover {
  background-color: var(--colorLightGrey);
  border-radius: 10px;
}

.contactInfo:hover .initialCircle {
  border: 1px solid white;
}

.contactInfo .name {
  font-size: 21px;
  margin-bottom: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 200px;
}

.contactInfo .email {
  color: var(--emailColor);
}

.headerFullContact {
  font-size: 47px;
  display: flex;
  gap: 35px;
}

.initialsFullContact {
  width: 120px;
  height: 120px;
  font-size: 47px;
}

.addTaskLink {
  color: var(--blueColor);
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.addTaskLink span {
  font-size: 30px;
}

.nameContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nameFullContact {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 30vw;
  font-size: 47px;
}

.contactFullInfoHeader {
  display: flex;
  gap: 50px;
  margin-top: 30px;
}

.editContact {
  display: flex;
  align-items: center;
  gap: 5px;
}

.editContact img {
  filter: invert(1);
}

.emailFullContact {
  margin-bottom: 25px;
}

.contactFullInfo h3 {
  font-size: 16px;
}

.btnContainer {
  display: flex;
  justify-content: flex-end;
}

.newContactBtn {
  text-align: center;
}

.newContactBtn img {
  height: 20px;
  width: 20px;
  margin-left: 10px;
  vertical-align: text-bottom;
}

.overlayContainer {
  display: flex;
  min-height: 500px;
  border-radius: 30px;
  background-color: white;
}

.overlayHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: var(--mainColorDarkBlue);
  color: white;
  padding: 20px 40px;
}

.overlayHeader img {
  height: 40px;
  width: 40px;
}

.overlayHeader h1 {
  font-size: 45px;
  margin-bottom: 10px;
}

.overlayHeader span {
  font-weight: 300;
}

.overlayHeader hr {
  margin-left: 0;
  width: 60px;
  border: 1px solid var(--mainColorLightBlue);
}

.addContactSection {
  display: flex;
  align-items: center;

  padding: 25px 40px 70px 40px;
  gap: 40px;
}

.userIcon {
  height: 120px;
  width: 120px;
}

.contactInputSection {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  width: 300px;
  gap: 15px;
}

.contactInputSection form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contactInputSection input {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  box-sizing: border-box;
  border: 1px solid var(--colorLightGrey);
  outline: none;
}

.nameModal {
  background: url(/img/name.svg) no-repeat 260px center;
  background-size: 12px;
  font-size: 14px;
  padding-right: 45px;
}

.emailModal {
  background: url(/img/email.svg) no-repeat 260px center;
  background-size: 12px;
  font-size: 14px;
  padding-right: 45px;
}

.phoneModal {
  background: url(/img/phone.svg) no-repeat 260px center;
  background-size: 12px;
  font-size: 14px;
  padding-right: 45px;
}

.close {
  height: 20px;
  width: 20px;
  margin-bottom: 75px;
  filter: invert(0.7);
  transform: rotate(45deg);
}

.contactBtnContainer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 15px;
}

.editBtnContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
