.loginBody {
  background-color: var(--backGroundSection);
}

.loginForm {
  align-items: center;
  margin-bottom: 40px;
}

.logo {
  margin-left: 30px;
  margin-top: 15px;
}

.headContainer {
  display: flex;
  justify-content: space-between;
}

.logo img {
  height: 80px;
  object-fit: cover;
  filter: invert(1);
}

#loginError {
  display: flex;
  justify-content: center;
}

.loginSection {
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.loginContainer {
  width: 650px;
  height: 510px;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 0;
  background-color: white;
  border-radius: 40px;
  padding: 10px;
}

.arrow {
  width: 100%;
  padding-left: 30px;
}

.arrow:hover {
  cursor: pointer;
  filter: opacity(0.5);
}

.arrow img {
  margin-top: 20px;
}

.loginBox {
  display: flex;
  justify-content: center;
  /* text-decoration-line: underline;
  text-decoration-color: #44b3e5; */
  font-size: 61px;
}

.loginBox h1 {
  margin-top: unset;
  margin-bottom: 50px;
}

.line {
  width: 330px;
  border-top: 3px solid var(--blueColor);
  margin-top: -41px;
  margin-bottom: 40px;
}

.loginForm span {
  color: #44b3e5;
}

.inputFieldsLogin {
  width: 420px;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 400px;
  height: 40px;
  border: 1px solid var(--borderColour);
  border-radius: 10px;
  padding-left: 15px;
  font-size: 20px;
  outline: none;
}

.marginInput {
  margin-bottom: 40px;
}

.inputFieldsMain {
  width: 300px;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 270px;
  height: 40px;
  border: 1px solid var(--borderColour);
  border-radius: 10px;
  padding-left: 15px;
  font-size: 20px;
  outline: none;
}

.btnBox {
  display: flex;
  align-items: center;
  gap: 25px;
}

#userName {
  background-image: url(/img/user.login.png);
}

.msTop {
  margin-top: -40px;
}

#errorMessage {
  width: 100%;
  display: flex;
  justify-content: center;
}

.errorBox {
  /* display: flex;
  width: 200px;
  text-align: center;
  background-color: red;
  border-radius: 5px;
  padding: 5px; */
  display: flex;
  width: 200px;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  border: 2px solid red;
}

.errorBox span {
  font-size: 18px;
}

#password {
  background-image: url(/img/padlock.png);
}

#email {
  background-image: url(/img/mail.png);
}

.forgotMessage {
  width: 100%;
  margin: 30px 0;
}

.distance {
  margin-bottom: 25px !important;
}

.loginBtn {
  width: 145px;
}

.guestBtn {
  width: 160px;
}

.registrate {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-right: 50px;
}

.registrate span {
  font-size: 20px;
}

.contentContainer {
  display: flex;
  justify-content: center;
  height: 84vh;
}

/**
* Change Password Part
**/
.passwordMainContainer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.passwordMainContainer hr {
  width: 150px;
  border-top: 3px solid var(--blueColor);
  margin-left: 275px;
}

.passwordContainer {
  background-color: white;
  border-radius: 40px;
  padding: 44px 84px 44px 84px;
  display: flex;
}

.arrowPassword img {
  filter: invert(69%) sepia(28%) saturate(4986%) hue-rotate(166deg) brightness(91%) contrast(94%);
  width: 30px;
  height: 30px;
}

.headBox {
  align-items: center;
  width: 700px;
}

.headBox h1 {
  font-size: 61px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.instructions {
  margin-top: 20px;
  width: 90%;
  text-align: center;
}

.instructions span {
  font-size: 21px;
  letter-spacing: 1px;
}

.centerBox {
  justify-content: center;
  margin-top: 40px;
}

#emailbox {
  background-image: url(/img/mail.png);
}

.sendBtnBox {
  justify-content: center;
  margin-top: 50px;
}

.mailBtn {
  width: 260px;
}

@media (max-width: 900px) {
  .passwordContainer {
    padding: 44px 0;
  }

  .arrowPassword img {
    padding-left: 20px;
  }
}

@media (max-width: 760px) {
  .headBox h1 {
    font-size: 40px;
  }

  .instructions {
    width: 70%;
  }

  .passwordContainer {
    width: 550px;
  }

  .arrowPassword img {
    padding-left: 20px;
  }
}

@media (max-width: 700px) {
  .loginContainer {
    width: 500px;
  }

  .passwordContainer hr {
    width: 100px;
    margin-left: 200px;
  }
}

@media (max-width: 560px) {
  .passwordMainContainer {
    margin-top: 25px;
  }

  .passwordContainer {
    width: 350px;
    display: block;
  }

  .passwordContainer hr {
    width: 75px;
    margin-left: 130px;
  }

  .inputFieldsMain {
    width: 250px;
    background-position-x: 230px;
  }

  .headBox {
    width: 350px;
    text-align: center;
  }

  .loginSection {
    margin-top: unset;
  }

  .loginContainer {
    width: 350px;
    height: 480px;
  }

  .loginBox {
    font-size: 40px;
  }

  .inputFieldsLogin {
    width: 280px;
    background-position-x: 260px;
  }

  .arrow img {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 20px;
  }

  .msTop {
    margin-top: -15px;
  }

  .line {
    width: 215px;
  }

  .registrate {
    display: none;
  }

  .responsiveSpan {
    margin-top: 20px;
  }
}


@media (max-width: 380px) {
  .passwordContainer {
    width: 270px;
  }

  .headBox {
    width: 270px;
  }

  .inputFieldsMain {
    width: 200px;
    background-position-x: 180px;
  }

  .mailBtn {
    width: 200px;
  }

  .sendBtnBox {
    margin-top: 20px;
  }

  .loginContainer {
    width: 250px;
    height: 430px;
  }

  .arrow {
    padding: 0;
  }

  .arrow img {
    height: 18px;
    padding-left: 20px;
  }

  .line {
    width: 100px;
  }

  .btnBlue {
    margin-top: 20px;
  }

  .btnBox {
    flex-direction: column;
  }

  .loginBox {
    font-size: 20px;
  }

  .inputFieldsLogin {
    width: 180px;
    font-size: 15px;
    background-position-x: 165px;
  }

  .registrate {
    margin-top: 25px;
  }

  .btnBox button {
    width: 160px;
  }
}

@media (max-width: 350px) {

  .login {
    margin-top: 25px;
  }

  .inputFields {
    width: 180px;
  }

  .btn {
    width: 120px;
  }

  .guestBtn {
    width: 120px;
  }

}