/********* Media Queries for Login *********/
@media(max-width: 1150px) {
    .loginContainer {
        margin-right: calc(100vw / 4);
        margin-left: calc(100vw / 4);
    }
}

@media(max-width: 750px) {
    .loginContainer {
        margin-right: calc(100vw / 5);
        margin-left: calc(100vw / 5);
    }
}

@media(max-width: 560px) {
    .loginContainer {
        margin-right: calc(100vw / 9);
        margin-left: calc(100vw / 9);
    }
}

@media(max-width: 420px) {
    .loginContainer {
        margin-right: calc(100vw / 20);
        margin-left: calc(100vw / 20);
    }
}

@media(max-width: 350px) {
    .loginContainer {
        margin-right: auto;
        margin-left: auto;
    }

    .inputFields {
        width: 180px;
    }

    .btn {
        width: 120px;
    }

    #guestBtn {
        width: 120px;
    }

    .registrate {
        gap: 15px;
    }
}

/********* Media Queries for Login *********/


/********* Media Queries for Summary *********/
@media (max-width: 1190px) {
    .greeting {
        margin-left: 70px;
    }
}

@media (max-width: 1111px) {
    .greeting {
        margin-left: 35px;
    }
}

@media (max-width: 1075px) {
    .greeting {
        margin-left: 20px;
    }
}


@media (max-width: 1060px) {
    .greeting {
        margin-left: 10px;
    }
}

@media (max-width: 1055px) {
    h1 {
        margin-left: 120px;
    }

    .containerOverview {
        margin-left: 120px;
    }

    .greeting {
        margin-left: 22px;
    }
}

@media (max-width: 1033px) {
    h1 {
        margin-left: 100px;
    }

    .containerOverview {
        margin-left: 100px;
    }
}

@media (max-width: 1020px) {
    h1 {
        margin-left: 80px;
    }

    .containerOverview {
        margin-left: 80px;
    }
}

@media (max-width: 1000px) {
    h1 {
        margin-left: 60px;
    }

    .containerOverview {
        margin-left: 60px;
    }
}

@media (max-width: 980px) {
    h1 {
        margin-left: 40px;
    }

    .containerOverview {
        margin-left: 40px;
    }
}

@media (max-width: 965px) {
    .joinLogoHeader {
        display: flex;
        margin-left: 0;
        padding-top: 0;
    }

    .questionMark {
        display: none;
    }

    .actualUser {
        margin-right: 0;
        width: unset;
        padding-right: 20px;
    }

    .text {
        display: none;
    }

    .d-none {
        display: flex;
    }

    .kanbanText {
        display: flex;
        padding-top: 20px;
        margin-left: -220px;
    }

    .spacing {
        display: flex;
        margin-left: -135px;
    }

    .line {
        position: relative;
        top: 130px;
        right: 200px;
        transform: rotate(90deg);
    }

    .description {
        display: flex;
        flex-direction: column;
    }

    .greeting {
        display: none;
    }

    .joinLogoHeader {
        display: flex;
    }

    h1 {
        margin-bottom: -115px;
        margin-top: -25px;
        margin-right: 220px;
    }

    .overviewSummary {
        display: flex;
        justify-content: center;
    }

    .containerOverview {
        margin-top: 80px;
        margin-bottom: 80px;
    }

}

@media (max-width: 960px) {
    .description {
        margin-left: -40px;
    }

    .overviewSummary {
        margin-left: -40px;
    }

    #navbar {
        height: 111vh;
    }
}

@media (max-width: 740px) {
    .w3Container {
        display: none;
    }

    .navbar {
        display: flex;
        justify-content: center;
        background-color: #293647;
    }

    .joinLogo {
        display: none;
    }

    ul {
        display: flex;
        justify-content: center;
        margin-bottom: 0;
    }

    li {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }

    a {
        margin-top: -10px;
    }
}

@media (max-width: 540px) {
    .line {
        right: 100px;
    }

    .spacing {
        margin-left: 65px;
    }

    h1 {
        margin-left: 240px;
    }

    .kanbanText {
        margin-left: -20px;
    }

    li {
        padding-left: 15px;
        padding-right: 15px;
    }

    .description {
        margin-left: -210px;
    }

    .box {
        width: 120px;
        height: 120px;
    }

    .thirdBox {
        width: 160px;
    }
}

@media (max-width: 535px) {
    .box {
        width: 100px;
        height: 100px;
    }

    .thirdBox {
        width: 140px;
    }

    .description {
        margin-left: -190px;
    }
}

@media (max-width: 528px) {
    .overviewSummary {
        padding-left: 10px;
        padding-right: 10px;
    }

    .description {
        margin-left: -170px
    }
}

@media (max-width: 455px) {
    .overviewSummary {
        padding-left: 10px;
        padding-right: 10px;
    }

    .description {
        margin-left: -130px
    }
}

@media (max-width: 422px) {
    .overviewSummary {
        padding-left: 10px;
        padding-right: 10px;
    }

    .description {
        margin-left: -90px
    }

    h1 {
        margin-left: 240px;
    }

    .line {
        right: 100px;
    }
}

@media (max-width: 408px) {
    li {
        padding-left: 8px;
        padding-right: 8px;
    }
}

@media (max-width: 400px) {
    .description h1 {
        font-size: 45px;
        margin-right: 240px;
    }

    .spacing {
        font-size: 23px;
    }

    .line {
        right: 80px;
    }

    .kanbanText {
        margin-left: 28px;
    }
}

@media (max-width: 377px) {
    .box {
        width: 80px;
        height: 80px;
    }

    .longBox {
        height: 80px;
    }

    .thirdBox {
        width: 120px;
    }

    #navbar {
        height: 112px;
    }

    .containerWithSections {
        padding-top: 15px;
    }
}

@media (max-width: 359px) {
    .description h1 {
        margin-left: 205px;
        font-size: 40px;
    }

    .kanbanText {
        margin-left: 20px;
    }

    #navbar {
        height: 116px;
    }
}

@media (max-width: 358px) {
    #navbar {
        height: 117px;
    }
}

@media (max-width: 357px) {
    #navbar {
        height: 117px;
    }
}

@media (max-width: 339px) {
    .description {
        margin-left: -50px;
    }

    li {
        padding-left: 6px;
        padding-right: 6px;
    }
}

/********* Media Queries for Summary *********/


/********* Media Queries for Add Task *********/
@media (max-width: 1170px) {
    .leftSplit {
        margin-left: 110px;
    }

    h1 {
        margin-left: 110px;
    }

}

@media (max-width: 1130px) {
    .leftSplit {
        margin-left: 80px;
    }

    h1 {
        margin-left: 80px;
    }
}

@media (max-width: 1100px) {
    .leftSplit {
        margin-left: 50px;
    }

    h1 {
        margin-left: 50px;
    }
}

@media (max-width: 1050px) {
    .leftSplit {
        margin-left: 25px;
    }

    h1 {
        margin-left: 25px;
    }
}


@media (max-width: 1020px) {
    h1 {
        margin-left: 25px;
        margin-top: 10px;
    }

    .actualUser {
        display: none;
    }

    #navbar {
        display: none;
    }

    .navbar {
        display: flex;
        background-color: #293647;
        justify-content: center;
        height: 104px;
        margin-top: 21px;
    }

    .joinLogo {
        display: none;
    }

    ul {
        display: flex;
    }

    li {
        display: flex;
        flex-direction: column;
        padding-left: 15px;
        padding-right: 15px;
    }

    .buttonContainer {
        display: none;
    }

    #boardAnimation {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


}

/********* Media Queries for Add Task *********/
/* .navbar {
    display: none;
    background-color: #293647;
  }
  
  .d-none {
    display: none;
  } */