@media (max-width: 1120px) {
  .addTaskContainer {
    padding-left: 40px !important;
  }
}

@media (max-width: 1060px) {
  .headline h1 {
    font-size: 45px;
  }

  .statusButton p {
    font-size: 12px;
  }
}

@media (max-width: 875px) {
  .headline h1 {
    font-size: 40px;
  }
}

@media (max-width: 800px) {
  .modalContainer {
    flex-direction: column;
    height: unset;
  }

  .modalKanbanBar {
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  }

  .cancelBtnMobile {
    display: block;
    position: absolute;
    top: 35px;
    right: 0;
    cursor: pointer;
  }

  .cancelBtnMobile i {
    font-size: 25px;
  }

  .boxContent {
    width: 100%;
    border-radius: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: unset;
    padding-top: 25px;
    background-color: white;
    height: calc(100vh - 103px);
    overflow: scroll;
  }

  .headline {
    position: relative;
    width: 100%;
  }

  .boxContent .headline {
    width: 80%;
  }

  .flexAddTask {
    width: 100%;
  }

  .flexAddTaskMobile {
    width: 80%;
    padding-bottom: 20px;
  }

  .respoImg {
    display: block;
  }

  .kanbanBar {
    position: fixed;
    top: 0;
    left: 0;
  }

  .subText,
  .actualUser {
    display: none;
  }

  .btnCreate {
    display: block;
    position: absolute;
    top: 15px;
    right: 10px;
  }

  .headerAddTask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .headline h1 {
    padding-bottom: 10px;
    padding-left: 2px;
  }

  .buttonContainer {
    display: none;
  }

  .addTaskContainer {
    padding-top: 100px;
    padding-bottom: 28px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
  }

  .leftSplit,
  .rightSplit {
    width: 100% !important;
  }

  .leftSplit {
    padding-right: unset !important;
    border-right: 0 !important;
  }

  .rightSplit {
    padding-left: unset !important;
    height: unset;
  }

  .priorityBox {
    width: 100% !important;
  }

  .statusButton p {
    font-size: 15px;
  }

  .statusButton img {
    height: 25px;
    width: 25px;
  }

  .flexAddTask {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .kanbanBarAddTask {
    display: flex !important;
    justify-content: flex-end;
  }
}

@media (max-width: 444px) {
  .kanbanTextAddTask {
    font-size: 14px;
  }

  .headline h1 {
    font-size: 35px;
  }
}

@media (max-width: 370px) {
  .joinLogoAddTask {
    width: 30px !important;
    height: 35px !important;
  }

  .kanbanTextAddTask {
    font-size: 13px;
  }

  .headline h1 {
    font-size: 30px;
  }

  .statusButton p {
    font-size: 12px;
  }

  .statusButton img {
    height: 15px;
    width: 15px;
  }
}

@media (max-width: 303px) {
  .kanbanTextAddTask {
    font-size: 12px;
  }

  .headline h1 {
    font-size: 25px;
  }

  .textAddTaskMobile {
    font-size: 12px !important;
  }

  .statusButton p {
    font-size: 11px;
  }

  .statusButton img {
    height: 12px;
    width: 12px;
  }
}
