@media (max-width: 1220px) {
  .column {
    margin-bottom: 5%;
  }

  .nameColumn {
    width: 100% !important;
  }

  .nameColumn span {
    padding-left: 10px !important;
  }

  .nameColumn img {
    width: 25px !important;
    height: 25px !important;
  }

  .dragAndDropContainer {
    flex-direction: column;
    width: 100%;
    overflow: scroll;
    height: calc(100vh - 365px);
  }
}

@media (max-width: 1000px) {
  .headlineBoardMobile h1 {
    font-size: 51px;
  }
}

@media (max-width: 970px) {
  .searchContainer input {
    background-position-x: 130px !important;
    width: 150px;
  }

  .headlineBoardMobile h1 {
    font-size: 45px;
  }

  .searchContainer input {
    background-position-x: 115px !important;
    width: 130px;
  }
}

@media (max-width: 800px) {
  .flexAddTaskMobile {
    flex-direction: column;
  }

  .modalContainer {
    flex-direction: row;
  }

  .btn-blue {
    margin-left: -50px;
  }

  .respoImg {
    display: flex !important;
  }

  .plus-end {
    display: none;
  }

  .fullCard {
    height: calc(100vh - 170px);
    padding: 15px 30px 0 30px;
    justify-content: unset;
    width: 100%;
    margin: 0;
    border-radius: 0;
    overflow: hidden;
    position: relative;
    top: 75px;
  }

  .formStyle {
    justify-content: space-between;
    height: 70vh;
  }

  .actualUser {
    width: 40px !important;
    display: flex !important;
  }

  /* .kanbanBar {
    z-index: 50;
  } */

  .footerFullCard {
    gap: 60px;
  }

  .bodyFullCard {
    height: 45vh;
  }

  .logoutContainer {
    top: 75px;
  }

  .logoutBox {
    z-index: 30;
  }

  .changedCard {
    overflow-y: auto;
  }

  .dragAndDropContainer {
    padding-top: 20px;
  }

  .rightSplit {
    height: 100% !important;
  }

  .container {
    margin-top: 10px;
  }

  .select-btn {
    height: 30px;
  }

  .headline h1 {
    font-size: 40px;
  }

  .title input,
  .dueDate input,
  select {
    height: 30px;
  }

  #taskDescription {
    height: 60px;
    padding-left: 8px;
    padding-top: 8px;
  }

  .buttonContainerMobile {
    display: flex !important;
  }

  .circle {
    width: 45px !important;
  }

  .headerBoard {
    display: flex !important;
  }

  .kanbanTextBoard {
    display: flex !important;
  }

  .headlineBoardMobile h1 {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .align-center {
    position: relative;
    padding-bottom: 0 !important;
  }

  .searchContainer {
    display: none !important;
  }

  .boardContainer {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .plusImgMobile {
    cursor: pointer;
    display: flex !important;
    position: absolute;
    right: 0;
    top: 50px;
    width: 30px;
    height: 30px;
  }

  .inputSearchMobile {
    display: flex !important;
    margin-left: 0;
  }

  .column {
    width: 100% !important;
    max-height: 220px !important;
    min-height: 50px;
    padding-right: 0;
  }
}

@media (max-width: 500px) {
  #help {
    position: absolute;
    z-index: 29;
    background-color: white;
    top: 75px;
    left: 0;
    right: 0;
    padding-left: 25px;
    padding-right: 25px;
  }

  #help a {
    white-space: pre-wrap;
    word-break: break-all;
  }

  .plusImgMobile {
    top: 60px;
  }

  .taskHeader {
    font-size: 40px;
  }

  .categoryText {
    width: 100px;
  }

  .inputSearchMobile {
    width: 200px !important;
    background-position-x: 190px !important;
  }
}

@media (max-width: 400px) {
  .kanbanTextBoard {
    font-size: 13px;
  }

  .headlineBoardMobile h1 {
    font-size: 30px;
  }

  .statusButton {
    height: 30px;
  }

  .statusButton img {
    height: 15px;
    width: 15px;
  }
}

@media (max-width: 365px) {
  .joinLogoBoard {
    width: 30px;
    height: 35px;
  }

  .userImgResponsive {
    width: 30px;
    height: 30px;
  }

  .kanbanTextBoard {
    font-size: 11px;
  }

  .headlineBoardMobile h1 {
    font-size: 22px;
  }

  .plusImgMobile {
    width: 32px;
    height: 32px;
  }

  .inputSearchMobile {
    width: 140px !important;
    background-position-x: 130px !important;
  }

  .footerFullCard {
    padding-top: 30px;
  }
}

/************************** Media Queries for Board **************************/
