/* ************************* Media Queries for Contact **************************/
@media (max-width: 1300px) {
  .contactInfo .name,
  .contactInfo .email {
    width: 12vw;
    font-size: 16px;
  }
}
@media (max-width: 1200px) {
  .header,
  .headerFullContact {
    gap: 20px;
  }

  .headline h1 {
    font-size: 55px;
  }

  .subheadline span {
    font-size: 25px;
  }

  .nameFullContact,
  .initialsFullContact {
    font-size: 35px;
  }

  .initialsFullContact {
    height: 100px;
    width: 100px;
  }
}

@media screen and (max-width: 1085px) {
  .contactContainer {
    grid-template-columns: 35% 65%;
  }
  .contactArea {
    padding: 25px;
  }

  .contactList {
    padding: 10px 15px;
  }

  .header,
  .headerFullContact {
    gap: 15px;
  }

  .headline h1 {
    font-size: 45px;
  }

  .subheadline span {
    font-size: 18px;
  }

  .nameFullContact,
  .initialsFullContact {
    font-size: 27px;
  }

  .nameFullContact {
    width: 30vw;
  }

  .initialsFullContact {
    height: 85px;
    width: 85px;
  }

  .contactInfo {
    gap: 10px;
  }
}

@media (max-width: 920px) {
  .headline h1 {
    font-size: 35px;
  }

  .subheadline span {
    font-size: 16px;
    letter-spacing: normal;
  }

  .nameFullContact,
  .initialsFullContact {
    font-size: 22px;
  }

  .initialsFullContact {
    height: 75px;
    width: 75px;
  }
}

@media (max-width: 800px) {
  .contactArea {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #fff;
  }

  .kanbanBarMobile {
    display: flex !important;
  }

  .btnContainerMobile {
    display: flex !important;
    justify-content: flex-end;
  }

  .newContactBtnMobile {
    margin-top: 15px;
    margin-right: 15px;
  }

  .contactContainer {
    display: flex;
    justify-content: center;
    height: calc(100vh - 245.02px);
  }

  .contactList {
    width: 100% !important;
    box-shadow: unset !important;
  }

  .contactInfo {
    padding: 10px !important;
  }

  .contactInfo .name,
  .contactInfo .email {
    width: 100%;
  }

  .overlayContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .overlayHeader {
    align-items: center;
    width: 450px;
    height: 300px;
    border-bottom-left-radius: unset !important;
    border-top-right-radius: 30px;
    padding: 0 !important;
  }

  .overlayHeader h1 {
    font-size: 40px !important;
  }

  .overlayHeader img {
    display: none;
  }

  .overlayHeader span {
    padding-right: 28px;
    font-size: 16px;
  }

  .overlayHeader hr {
    margin-left: 110px !important;
  }

  .addContactSection {
    flex-direction: column;
    padding: unset !important;
    gap: unset !important;
  }

  .contactInputSection {
    width: 400px !important;
    height: 350px !important;
  }

  .nameModal {
    background: url(/img/name.svg) no-repeat 365px center !important;
    background-size: 12px !important;
  }

  .emailModal {
    background: url(/img/email.svg) no-repeat 365px center !important;
    background-size: 12px !important;
  }

  .phoneModal {
    background: url(/img/phone.svg) no-repeat 365px center !important;
    background-size: 12px !important;
  }

  .userIcon {
    position: absolute;
    bottom: 315px;
    left: 165px;
  }

  .contactInputSection form {
    margin-top: 55px;
    height: 75% !important;
  }

  .contactBtnContainer {
    justify-content: center !important;
  }

  .btn-blue-mobile {
    font-size: 18px;
  }

  .btn-white-mobile {
    display: none;
  }

  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    filter: unset !important;
    margin-bottom: 0 !important;
  }

  .boxContainer {
    width: unset;
  }
}
@media (max-width: 600px) {
  .iconsNavContactMobile {
    width: 30px !important;
    height: 30px !important;
  }

  .navbarContact a {
    font-size: 14px;
  }
}

@media (max-width: 560px) {
  .containerWithSectionsContact li {
    padding-left: 25px !important;
    padding-right: 25px !important;
  }
}

@media (max-width: 500px) {
  .navbarContact ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .navbarContact ul li a span {
    font-size: 11.5px;
  }

  .overlayHeader {
    width: 350px !important;
  }

  .overlayHeader hr {
    margin-left: 58px !important;
  }

  .userIcon {
    left: 115px;
  }

  .contactInputSection {
    width: 300px !important;
  }

  .nameModal {
    background: url(/img/name.svg) no-repeat 265px center !important;
    background-size: 12px !important;
  }

  .emailModal {
    background: url(/img/name.svg) no-repeat 265px center !important;
    background-size: 12px !important;
  }

  .phoneModal {
    background: url(/img/name.svg) no-repeat 265px center !important;
    background-size: 12px !important;
  }
}

@media (max-width: 480px) {
  .containerWithSectionsContact li {
    padding-left: 22px !important;
    padding-right: 22px !important;
  }

  .iconsNavContactMobile {
    width: 25px !important;
    height: 25px !important;
  }

  .navbarContact a {
    font-size: 12px !important;
  }
}

@media (max-width: 420px) {
  .containerWithSectionsContact li {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .iconsNavContactMobile {
    width: 22px !important;
    height: 22px !important;
  }

  .navbarContact a {
    font-size: 11px !important;
  }

  .contactSectionHeader h2 {
    font-size: 18px;
  }

  .contactInfo .name {
    font-size: 18px !important;
  }
}

@media (max-width: 383px) {
  .containerWithSectionsContact li {
    padding-left: 17px !important;
    padding-right: 17px !important;
  }

  .iconsNavContactMobile {
    width: 20px !important;
    height: 20px !important;
  }

  .contactSectionHeader h2 {
    font-size: 17px;
  }

  .contactInfo .name {
    font-size: 17px !important;
  }

  .overlayHeader {
    width: 280px !important;
  }

  .overlayHeader h1 {
    font-size: 32px !important;
  }

  .overlayHeader span {
    font-size: 12px;
  }

  .overlayHeader hr {
    margin-left: 47px !important;
  }

  .userIcon {
    height: 110px !important;
    width: 110px !important;
    left: 83px !important;
  }

  .contactInputSection {
    width: 230px !important;
  }

  .nameModal {
    background: url(/img/name.svg) no-repeat 200px center !important;
    background-size: 200px !important;
  }

  .emailModal {
    background: url(/img/name.svg) no-repeat 200px center !important;
    background-size: 200px !important;
  }

  .phoneModal {
    background: url(/img/name.svg) no-repeat 200px center !important;
    background-size: 200px !important;
  }

  .btn-blue-mobile {
    font-size: 16px;
  }
}

@media (max-width: 352px) {
  .containerWithSectionsContact li {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .navbarContact a {
    font-size: 10px !important;
  }

  .newContactBtnMobile {
    font-size: 16px !important;
  }
}

@media (max-width: 320px) {
  .containerWithSectionsContact li {
    padding-left: 12px !important;
    padding-right: 12px !important;
  }

  .iconsNavContactMobile {
    width: 18px !important;
    height: 18px !important;
  }

  .contactList {
    padding: 5px !important;
  }

  .contactInfo {
    padding: 5px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
}

@media (max-width: 300px) {
  .newContactBtnMobile {
    font-size: 13px !important;
  }

  .navbarContact a {
    font-size: 9px !important;
  }

  .contactSectionHeader h2 {
    font-size: 16px;
  }

  .contactInfo .name {
    font-size: 16px !important;
  }

  .initials {
    height: 23px;
    width: 23px;
    font-size: 11px;
  }

  .overlayHeader {
    width: 235px !important;
  }

  .overlayHeader h1 {
    font-size: 28px !important;
  }

  .overlayHeader span {
    font-size: 11px;
    padding-right: 22px;
  }

  .overlayHeader hr {
    margin-left: 35px !important;
  }

  .userIcon {
    height: 100px !important;
    width: 100px !important;
    left: 65px !important;
  }

  .contactInputSection {
    width: 190px !important;
  }

  .nameModal {
    background-size: 12px !important;
  }

  .emailModal {
    background-size: 12px !important;
  }

  .phoneModal {
    background-size: 12px !important;
  }

  .btn-blue-mobile {
    font-size: 14px;
  }
}
