/* @media (max-width: 1250px) {
    .boardContainer {
        padding-left: 50px !important;
        padding-right: 50px !important;
    }
} */

@media (max-width: 1220px) {
  .column {
    margin-bottom: 5%;
  }
}

@media (max-width: 1000px) {
  .headlineBoardMobile h1 {
    font-size: 51px;
  }
}

@media (max-width: 970px) {
  .searchContainer input {
    background-position-x: 130px !important;
    width: 150px;
  }

  .headlineBoardMobile h1 {
    font-size: 45px;
  }

  .searchContainer input {
    background-position-x: 115px !important;
    width: 130px;
  }
}

@media (max-width: 800px) {
  #messageToBoard {
    bottom: 175px;
  }

  .scrollBox {
    height: calc(100vh - 270px);
  }

  .buttonContainerMobile {
    display: flex !important;
  }

  .userImgResponsive {
    width: 35px;
    height: 35px;
    border: 2px solid black;
    border-radius: 100%;
  }

  /* .circle {
        margin-right: 25px;
        width: 45px;
    } */

  /* .fullCard {
    width: 100%;
    margin: 0;
    border-radius: 0;
    overflow: hidden;
  } */

  .headerBoard {
    display: flex !important;
  }

  .headlineBoardMobile h1 {
    padding-bottom: 25px;
  }

  .align-center {
    position: relative;
    padding-bottom: 0 !important;
    padding-left: 10px;
  }

  .searchContainer {
    display: none !important;
  }

  .inputSearchMobile {
    display: flex !important;
  }
}

@media (max-width: 500px) {
  .headlineBoardMobile h1 {
    font-size: 35px;
  }
}

@media (max-width: 365px) {
  .joinLogoBoard {
    width: 30px;
    height: 35px;
  }

  .userImgResponsive {
    width: 30px;
    height: 30px;
  }
}
