@media (max-width: 1135px) {
  .summaryArea {
    padding-left: 120px;
  }
}

@media (max-width: 1115px) {
  .summaryArea {
    padding-left: 100px;
  }
}

@media (max-width: 1100px) {
  .summaryArea {
    padding-left: 60px;
    padding-top: 30px;
    padding-bottom: 0;
  }

  .greeting {
    padding-top: 25px;
  }
}

@media (max-width: 1000px) {
  .box {
    height: 150px;
    width: 150px;
  }

  .thirdBox {
    width: 235px;
  }
}

@media (max-width: 1000px) {
  .box {
    height: 120px;
    width: 120px;
  }

  .thirdBox {
    width: 200px;
  }
}

@media (max-width: 890px) {
  .headlineSummaryMobile h1 {
    font-size: 40px;
  }

  .subheadline span {
    font-size: 20px;
  }

  #guest {
    font-size: 25px;
  }

  .nr {
    font-size: 35px;
  }

  .greeting {
    padding-top: 35px;
  }

  .greeting span {
    font-size: 28px;
  }
}

@media (max-width: 840px) {
  .box {
    height: 110px;
    width: 110px;
  }

  .thirdBox {
    width: 160px;
  }
}

@media (max-width: 800px) {
  .kanbanBar {
    position: relative;
    z-index: 1;
  }

  .respoImg {
    display: flex;
  }

  .verticalLine hr {
    display: flex;
  }

  .blue-border {
    border-right: unset;
    padding-right: 30px;
  }

  .header {
    flex-direction: column;
    gap: 10px;
    margin-bottom: 0;
    align-items: flex-start;
  }

  .userImgResponsive {
    width: 35px;
    height: 35px;
    border: 2px solid black;
    border-radius: 100%;
  }

  .overviewSummary {
    padding-bottom: 120px;
  }

  .box {
    width: 120px;
    height: 120px;
  }

  .nr {
    font-size: 40px;
  }

  .longBox {
    height: 80px;
  }

  .text {
    margin-top: 5px;
  }

  .thirdBox {
    height: 80px;
    width: 200px;
  }

  .todoAndDone {
    width: 20px !important;
    height: 20px !important;
  }

  .kanbanTextSummary {
    display: flex;
    padding-right: 10px;
  }

  .headlineSummaryMobile h1 {
    padding-top: 10px;
    padding-bottom: 0;
  }

  /* .subheadlineSummaryMobile {
        border-left: 0;
        border-bottom: 4px solid var(--mainColorLightBlue);
        padding-bottom: 20px;
        margin-top: -15px;
    } */

  .summaryArea {
    padding-top: 25px;
  }

  .subheadline span {
    font-size: 20px;
    padding-right: 28px;
  }
}

@media (max-width: 620px) {
  .summaryArea {
    padding-left: 40px;
  }

  .headerSummaryMobile {
    padding-right: 125px;
  }

  .headlineSummaryMobile h1 {
    font-size: 35px;
  }

  .containerOverview {
    width: 420px;
  }
}

@media (max-width: 540px) {
  .blue-border {
    padding-right: 10px;
  }

  .summaryArea {
    padding-top: 30px;
  }

  .headlineSummaryMobile h1 {
    font-size: 30px;
  }

  .subheadline span {
    font-size: 18px;
    padding-right: 40px;
  }
}

@media (max-width: 500px) {
  .headline h1 {
    font-size: 40px;
  }

  .headerSummaryMobile {
    padding-right: 75px;
  }

  .box {
    width: 90px;
    height: 90px;
  }

  .nr {
    font-size: 25px;
  }

  .longBox {
    height: 70px;
  }

  #dateOfDeadline {
    font-size: 18px;
  }

  .thirdBox {
    width: 160px;
    height: 60px;
  }

  .todoAndDone {
    width: 20px !important;
    height: 20px !important;
  }

  #toDo,
  #done {
    font-size: 25px;
  }

  .containerOverview {
    width: 360px;
  }
}

@media (max-width: 440px) {
  #help {
    padding: 0 25px 0 25px;
  }

  .overviewSummary {
    align-items: center;
  }

  .summaryArea {
    padding: 45px 0 0 45px;
  }

  .kanbanTextSummary {
    font-size: 14px;
    padding-right: unset;
  }

  .headlineSummaryMobile {
    font-size: 25px;
    padding: unset;
  }

  .subheadline span {
    font-size: 15px;
    padding-right: 15px;
  }

  .containerOverview {
    width: 300px;
  }

  .box {
    width: 80px;
    height: 80px;
  }

  .nr {
    font-size: 18px;
  }

  .text {
    font-size: 12px;
  }

  .longBox {
    height: 60px;
  }

  .thirdBox {
    width: 140px;
    height: 60px;
  }

  .todoAndDone {
    width: 15px !important;
    height: 15px !important;
  }

  .greeting {
    padding-left: 0;
  }
}

@media (max-width: 365px) {
  .summaryArea {
    padding: 45px 0 0 25px;
  }

  .joinLogoSummary {
    width: 30px;
    height: 35px;
  }

  .userImgResponsive {
    width: 30px;
    height: 30px;
  }

  .subheadline {
    padding-right: 70px;
  }

  .subheadline span {
    padding-right: unset;
  }

  .headerSummaryMobile {
    width: 100%;
    justify-content: unset;
    padding-right: unset;
  }

  #dateOfDeadline {
    font-size: 12px;
  }

  .headlineSummaryMobile {
    width: 270px;
    padding-left: unset;
  }

  .headlineSummaryMobile h1 {
    font-size: 23px;
  }

  .containerOverview {
    width: 250px;
  }

  .box {
    width: 65px;
    height: 65px;
  }

  .text {
    font-size: 12px;
  }

  .nr {
    font-size: 20px;
  }

  .longBox img {
    height: 25px;
  }

  .thirdBox {
    width: 115px;
  }

  .todoAndDone {
    width: 10px !important;
    height: 10px !important;
  }

  .thirdBox span {
    font-size: 12px;
  }
}

/************************** Media Queries for Summary **************************/