.line {
  color: #36afe4;
  font-size: 50px;
}

.greetingMobile {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--colorLightGrey);
  margin: 0 !important;
}

.spacing {
  font-size: 27px;
  letter-spacing: 1px;
}

.overviewSummary {
  display: flex;
}

.containerOverview {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  max-width: 650px;
  flex-wrap: wrap;
}

.box {
  width: 175px;
  height: 175px;
  border-radius: 20px;
  box-shadow: 1px 1px 3px rgb(0 0 0 / 30%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
}

.nr {
  font-size: 50px;
  font-weight: bold;
}

.longBox {
  height: 100px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 1px 3px rgb(0 0 0 / 30%);
}

.longBox img {
  height: 35px;
}

.urgentBox {
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.box:hover,
.longBox:hover,
.thirdBox:hover {
  cursor: pointer;
  background-color: var(--mainColorDarkBlue);
  color: white;
}

.box:hover span,
.longBox:hover span,
.thirdBox:hover div span {
  color: white !important;
}

.thirdBox:hover img {
  filter: invert(1);
}

.thirdBox:hover .imgContainer {
  background-color: #fff;
}

.urgent {
  display: flex;
  flex-direction: column;
}

.secondLine {
  height: 50px !important;
}

.upcomingDeadline {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#dateOfDeadline {
  font-size: 20px;
}

.todoAndDone {
  width: 30px !important;
  height: 30px !important;
}

.imgContainer {
  border-radius: 100%;
  border: 1px solid transparent;
  padding: 10px;
  background: var(--mainColorDarkBlue);
}

.thirdBox {
  height: 100px;
  background-color: white;
  width: 275px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 3px rgb(0 0 0 / 30%);
  gap: 15px;
}

.thirdBox div {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.thirdBox span {
  color: var(--textColor);
  font-size: 16px;
}

#toDo,
#done {
  font-size: 40px;
  color: black;
}

.greeting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 80px;
}

#guest {
  font-size: 45px;
}

.nameOfUser {
  color: var(--mainColorLightBlue);
  font-size: 64px;
}

.headerSummary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 3px rgb(0 0 0 / 30%);
  height: 75px;
}

.joinLogoSummary {
  width: 35px;
  height: 40px;
  padding-left: 20px;
  filter: invert();
}

.actualUserSummary {
  padding-right: 20px;
}

.kanbanTextSummary {
  display: none;
}

.navbarSummary {
  background-color: #293647;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}

.iconsNavSummaryMobile {
  width: 35px;
  height: 35px;
}

.containerWithSectionsSummary ul li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

.containerWithSectionsSummary ul {
  display: flex;
  padding-left: 0;
}

.containerWithSectionsSummary li {
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
}