:root {
  --backGroundSection: #f6f7f8;
  --textColor: #6b717e;
  --mainColorDarkBlue: #2a3647;
  --urgentColour: #ff3b00;
  --mediumColour: #ffb32a;
  --lowColour: #7be129;
  --mainColorLightBlue: #36afe4;
  --hrColor: #d1d1d1;
  --boxShadowColor: #00000014;
  --emailColor: #007cee;
  --blueColor: #29abe2;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.flex {
  display: flex;
}

.cursor-pointer {
  cursor: pointer;
}

.btn-blue {
  background-color: var(--mainColorDarkBlue);
  color: white;
  height: 50px;
  width: auto;
  border-radius: 10px;
  padding: 18px 10px;
  font-size: 21px;
  gap: 10px;
}

.btn-white {
  background-color: white;
  color: var(--mainColorDarkBlue);
  height: 50px;
  width: auto;
  border-radius: 10px;
  border: 1px solid var(--mainColorDarkBlue);
  padding: 18px 10px;
  font-size: 21px;
  gap: 10px;
}
